body {
  font-family: 'Old Standard TT', serif;

}

/*h4 {
font-weight: 400;
font-style: italic;
}*/

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.typing{
  opacity: .30;
  /*margin-top: -100px;*/
  color: gray;
  position: absolute;
  z-index:-10;
  font-size: 30pt;

}

.images{
float: auto;
}
.pic1{
float: right;
margin-right: 14%;
margin-top: 20%;


}
.pic1:hover { opacity: 0.3; filter: alpha(opacity=30); }

.pic2{
float: right;
margin-top: 20%;

}

.pic2:hover { opacity: 0.3; filter: alpha(opacity=30); }

.pic3{
float: right;
margin-top: 20%;

}

.pic3:hover { opacity: 0.3; filter: alpha(opacity=30); }



/*@media (min-width: 800px){
  .images{
    float:auto;

}
}*/
